<div id="consultar" class="container py-3 mt-3">
  <div class="p-3 pb-md-4 mx-auto border-bottom">
    <h3 class="fw-bolder mb-0  text-center">Consultar Planes</h3>
    <p class="fs-6 lead  text-center">En esta sección podrás consultar de los planes</p>

    <form class="row gy-2 gx-3 align-items-end clss-form" autocomplete="off">

      <div class="col">
        <button class="btn btn-primary py-2 mx-2" style="float: right;" (click)="onCargar()" data-toggle="tooltip"
          data-placement="top" title="Nuevo">
          <i class="fa-sharp fa-solid fa-plus"></i>
        </button>
      </div>
    </form>
  </div>
  <main>
    <div class="table-responsive mt-3">
      <table class="table table-striped" style="vertical-align:middle;">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of modeloData">
            <td>{{data.nombre}}</td>
            <td>{{data.descripcion}}</td>
            <td>${{data.precio}}</td>
            <td>
              <a class="btn btn-primary mx-2" data-toggle="tooltip" data-placement="top" title="Editar"
                (click)="onGestionar(data.id)">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"
                (click)="onEliminar(data.id!)">
                <i class="fa-solid fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

</div>
