<div class="container py-3  animate__animated animate__fadeInRight" *ngIf="modeloData.length > 0">
  <div class="p-3 pb-md-4 mx-auto border-bottom">

    <h2 class="fw-bolder mb-0  text-center text-uppercase">
      Planes
    </h2>
    <br>

    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <ng-container *ngFor="let data of modeloData;let i=index">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{data.nombre}}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{data.precio}}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{data.descripcion}}</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary"
                  (click)="onCargarRegistrar()">Registrarme</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </main>

  </div>
</div>
