<div class="modal-header">
  <h4 class="modal-title pull-left"></h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">

  <main class="form-signin w-100 m-auto text-center">
    <form [formGroup]="fgValidador" (ngSubmit)="onRegistrar()" autocomplete="off" class="clss-form">
      <img class="mb-2" src="assets/img/logoMorado2.png" alt="">
      <h1 class="h3 mb-3 fw-normal">Registrar</h1>
      <div class="row">

        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="numDocumento" placeholder="name@example.com"
              formControlName="documento" [class.is-invalid]="documentoNoValido">
            <label for="numDocumento">Documento</label>
            <small *ngIf="documentoNoValido" class="text-danger">
              Ingrese el documento
            </small>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="tipoDocum" placeholder="name@example.com"
              formControlName="tipoDocumento" [class.is-invalid]="tipoDocumentoNoValido">
            <label for="tipoDocum">Tipo Documento</label>
            <small *ngIf="tipoDocumentoNoValido" class="text-danger">
              Seleccione el tipo documento
            </small>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="nombres" placeholder="name@example.com"
              formControlName="nombres" [class.is-invalid]="nombresNoValido">
            <label for="nombres">Nombres</label>
            <small *ngIf="nombresNoValido" class="text-danger">
              Ingrese el nombre
            </small>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="apellidos" placeholder="name@example.com"
              formControlName="apellidos" [class.is-invalid]="apellidosNoValido">
            <label for="apellidos">Apellidos</label>
            <small *ngIf="apellidosNoValido" class="text-danger">
              Ingrese el apellido
            </small>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-floating">
            <input type="email" class="form-control" id="correo" placeholder="name@example.com" formControlName="correo"
              [class.is-invalid]="correoNoValido">
            <label for="correo">Correo</label>
            <small *ngIf="correoNoValido" class="text-danger">
              Ingrese el correo
            </small>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-floating">
            <input type="password" class="form-control" id="contrasena" placeholder="Contraseña"
              formControlName="contrasena" [class.is-invalid]="contrasenaNoValido">
            <label for="contrasena">Contraseña</label>
            <small *ngIf="contrasenaNoValido" class="text-danger">
             Ingrese la contraseña
            </small>
          </div>
        </div>

      </div>
      <button class="w-100 btn btn-primary btn-lg mt-4 mb-3" [disabled]="!fgValidador.valid"
        type="submit">Registrar</button>
    </form>
  </main>

</div>
