<div class="modal-header">
  <h4 class="modal-title pull-left"></h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">

  <main class="form-signin w-100 m-auto text-center">
    <form (ngSubmit)="onIngresar(fLong)" autocomplete="off" #fLong="ngForm">
      <img class="mb-4" src="assets/img/logoMorado2.png" alt="">
      <h1 class="h3 mb-3 fw-normal">Registrar</h1>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="email" class="form-control" id="nombres" placeholder="name@example.com">
            <label for="nombres">Nombres</label>
          </div>
        </div>

        <div class="col-md">
          <div class="form-floating">
            <input type="email" class="form-control" id="apellidos" placeholder="name@example.com">
            <label for="apellidos">Apellidos</label>
          </div>
        </div>

        <div class="form-floating">
          <input type="email" class="form-control" id="correo" placeholder="name@example.com">
          <label for="correo">Correo</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="contrasena" placeholder="Contraseña">
          <label for="contrasena">Contraseña</label>
        </div>
      </div>
      <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Registrar</button>
    </form>
  </main>

</div>
