<div id="cards" class="container py-3 mt-3">
  <div class="p-3 pb-md-4 mx-auto ">
    <ngx-charts-number-card (window:resize)="onResize($event)" [view]="view" scheme="cool" [results]="dataCounter" [cardColor]="cardColor"
      (select)="onSelect($event)">
    </ngx-charts-number-card>
  </div>
</div>

<div id="barra" class="container py-3 mt-3">
  <div class="p-3 pb-md-4 mx-auto">
    <ngx-charts-bar-vertical (window:resize)="onResize($event)" [view]="view" scheme="cool" [results]="dataBarra"
      [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
</div>
