<div class="row row-cols-1 row-cols-md-3 mb-3 text-center ">
  <div class="col animate__animated animate__fadeInLeft">
    <div class="card">
      <img class="card-img-top" src="https://source.unsplash.com/random/276x200?sig=1&persona, animal"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Clara</h5>
        <p class="card-text">No hay mejores profesionales a los que confiar el bienestar de tu mascota! Mascota Feliz!!!
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card animate__animated animate__fadeInRight">
      <img class="card-img-top" src="https://source.unsplash.com/random/276x200?sig=2&persona, animal"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Esther</h5>
        <p class="card-text">Oscar y Carol os estaremos eternamente agradecidos. El trato a nuestro Golete ha sido
          espectacular!</p>
      </div>
    </div>
  </div>
  <div class="col animate__animated animate__fadeInLeft">
    <div class="card">
      <img class="card-img-top" src="https://source.unsplash.com/random/276x200?sig=3&persona, animal"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MONTSE MORATA CRUZ </h5>
        <p class="card-text">Fantástica atención a los animales y a sus dueños, siempre nos atienden con un gran cariño
          que, sobre todo en determinadas circunstancias, es muy necesario y se agradece tanto.... gracias chicas, nos
          hacéis sentir a todos como en casa!</p>
      </div>
    </div>
  </div>
</div>
