<ng-container
  *ngIf="!seInicionSesion; then notauthenticated; else authenticate">
</ng-container>

<ng-template #notauthenticated>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #authenticate>
  <mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <button mat-icon-button>
      <img mat-card-image src="assets/img/logo.png" style="width: 100%;">
    </button>

    Mascota Feliz
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8" #sidenav="matSidenav">
      <mascota-feliz-menu-dasboard></mascota-feliz-menu-dasboard>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
<ng-http-loader></ng-http-loader>

