<div class="modal-header">
  <h4 class="modal-title pull-left">Afiliación</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<form autocomplete="off" [formGroup]="fgValidador" (ngSubmit)="onRegistrar()" class="clss-form">
  <div class="modal-body">

    <div class="row g-3 mb-3">

      <div class="col-md-12 ">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title text-center">{{modeloMascota.nombre}}</h4>
                <p class="card-text mb-0">
                  <Strong>Raza:</Strong> {{modeloMascota.raza}}
                </p>
                <p class="card-text mb-0">
                  <Strong>Color:</Strong> {{modeloMascota.color}}
                </p>
                <p class="card-text mb-0">
                  <Strong>Especie:</Strong> {{modeloMascota.especie}}
                </p>
                <p class="card-text mb-0">
                  <Strong>Propietario:</Strong> {{modeloMascota.usuario?.nombres}} {{modeloMascota.usuario?.apellidos}}
                </p>
                <p class="card-text mb-0">
                  <Strong>Plan:</Strong> {{modeloMascota.plan?.nombre}}
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-12">
        <input type="hidden" formControlName="estado" />
        <label for="estado" class="form-label mb-0">Estado</label>
        <select formControlName="estado" class="form-select">
          <option *ngFor="let data of modeloEstado" value="{{data}}">{{data}}</option>
        </select>
        <small *ngIf="estadoNoValido" class="text-danger">
          Seleccione el Estado
        </small>
      </div>

      <div class="col-12 mt-1" *ngIf="estadoValido == 'RECHAZADO'">
        <label for="detalle" class="form-label mb-0">Detalle</label>
        <textarea class="form-control" formControlName="detalle" id="detalle" rows="3"></textarea>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-lg mb-3" type="submit">Guardar</button>
    <button class="btn btn-danger btn-lg mb-3 mx-2" type="button" (click)="bsModalRef.hide()">Cancelar</button>
  </div>

</form>
