<div class="modal-header">
  <h4 class="modal-title pull-left">Afiliación</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<form autocomplete="off" [formGroup]="fgValidador" (ngSubmit)="onRegistrar()" class="clss-form">
  <div class="modal-body">

    <div class="row g-3 mb-3">


      <label class="form-label mb-0">{{modeloMascota.nombre}}</label>
      <label class="form-label mb-0">{{modeloMascota.raza}}</label>
      <label class="form-label mb-0">{{modeloMascota.color}}</label>
      <label class="form-label mb-0">{{modeloMascota.especie}}</label>
      <label class="form-label mb-0">{{modeloMascota.usuario?.nombres}}</label>
      <label class="form-label mb-0">{{modeloMascota.plan?.nombre}}</label>

      <div class="col-md-12">
        <input type="hidden" formControlName="estado" />
        <label for="estado" class="form-label mb-0">Estado</label>
        <select formControlName="estado" class="form-select">
          <option *ngFor="let data of modeloEstado" value="{{data}}">{{data}}</option>
        </select>
        <small *ngIf="estadoNoValido" class="text-danger">
          Seleccione el Estado
        </small>
      </div>

      <div class="col-12 mt-1" *ngIf="estadoValido == 'RECHAZADO'">
        <label for="detalle" class="form-label mb-0">Detalle</label>
        <textarea class="form-control" formControlName="detalle" id="detalle" rows="3"></textarea>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-lg mb-3" type="submit">Guardar</button>
    <button class="btn btn-danger btn-lg mb-3 mx-2" type="button" (click)="bsModalRef.hide()">Cancelar</button>
  </div>

</form>
