<div class="container py-3 mt-3">
  <div id="consultar" class="p-3 pb-md-4 mx-auto border-bottom">
    <h3 class="fw-bolder mb-0  text-center">Comunidad</h3>
    <p class="fs-6 lead  text-center">En esta sección podrás interactuar con toda la comunidad de Mascota Feliz</p>

  </div>
  <main>
    <div class="content-wrapper">
      <div class="row gutters">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

          <div class="card m-0">
            <div class="row no-gutters">

              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                <div class="users-container">
                  <div class="chat-search-box">
                    <h5>Usuarios Conectados</h5>
                  </div>
                  <ul class="users" *ngFor="let usuario of usuarioSocial.usuarios">
                    <li class="person" *ngIf="datosUsuario.datos.nombre != usuario.nombre">
                      <div class="user">
                        <ngx-avatars name="{{usuario.nombre}}"></ngx-avatars>
                        <span class="status online"></span>
                      </div>
                      <p class="name-time">
                        <span class="name">{{usuario.nombre}}</span>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                <div class="chat-container">
                  <ul class="chat-box chatContainerScroll" *ngFor="let chat of socialServices.chats">
                    <li class="chat-right" *ngIf="datosUsuario.datos.id == chat.idUser">
                      <div class="chat-text">{{chat.mensaje}}</div>
                      <div class="chat-avatar">
                        <ngx-avatars name="{{chat.nombre}}"></ngx-avatars>
                        <div class="chat-name">{{chat.nombre}}</div>
                      </div>
                    </li>
                    <li class="chat-left" *ngIf="datosUsuario.datos.id != chat.idUser">
                      <div class="chat-avatar">
                        <ngx-avatars name="{{chat.nombre}}"></ngx-avatars>
                        <div class="chat-name">{{chat.nombre}}</div>
                      </div>
                      <div class="chat-text">{{chat.mensaje}}</div>
                    </li>
                  </ul>
                  <div class="form-group mt-3 mb-0">
                    <textarea class="form-control" rows="3" placeholder="Ingrese el mensaje..." [(ngModel)]="mensaje"
                      (keyup.enter)="onEnviarMensaje()"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </main>

</div>
