<h2 mat-dialog-title>Planes</h2>
<form autocomplete="off" class="needs-validation clss-form" [formGroup]="fgValidador" (ngSubmit)="onRegistrar()">
  <mat-dialog-content class="mat-typography ">
    <div class="row g-3  mt-3 mb-3">

      <div class="col-12 mt-1">
        <label for="nombre" class="form-label mb-0">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Ingresar nombre"
          [class.is-invalid]="nombreNoValido">
        <small *ngIf="nombreNoValido" class="text-danger">
          Se requiere que ingrese el nombre.
        </small>
      </div>

      <div class="col-12 mt-1">
        <label for="descripcion" class="form-label mb-0">Descripción</label>
        <textarea class="form-control" formControlName="descripcion" id="descripcion" rows="3"
          [class.is-invalid]="descripcionNoValido"></textarea>
        <small *ngIf="descripcionNoValido" class="text-danger">
          Se requiere que ingrese la descripcion.
        </small>
      </div>

      <div class="col-12 mt-1">
        <label for="precio" class="form-label mb-0">Precio</label>
        <input type="number" class="form-control" formControlName="precio" id="precio" placeholder="Ingresar precio"
          [class.is-invalid]="precioNoValido">
        <small *ngIf="precioNoValido" class="text-danger">
          Se requiere que ingrese el Precio.
        </small>
      </div>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>

</form>
