<div class="modal-header">
  <h4 class="modal-title pull-left">Usuario</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<form autocomplete="off" [formGroup]="fgValidador" (ngSubmit)="onRegistrar()" class="clss-form">
  <div class="modal-body">

    <div class="row g-3 mb-3">

      <div class="col-md-12 mt-1">
        <label for="numDocumento" class="form-label mb-0">Documento</label>
        <input type="text" class="form-control" id="numDocumento" placeholder="Docuemento" formControlName="documento"
          [class.is-invalid]="documentoNoValido">
        <small *ngIf="documentoNoValido" class="text-danger">
          Ingrese el documento
        </small>
      </div>

      <div class="col-md-6">
        <label for="nombres" class="form-label mb-0">Nombres</label>
        <input type="text" class="form-control" id="nombres" placeholder="Nombres" formControlName="nombres"
          [class.is-invalid]="nombresNoValido">
        <small *ngIf="nombresNoValido" class="text-danger">
          Ingrese el nombre
        </small>
      </div>

      <div class="col-md-6">
        <label for="apellidos" class="form-label mb-0">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" formControlName="apellidos"
          [class.is-invalid]="apellidosNoValido">
        <small *ngIf="apellidosNoValido" class="text-danger">
          Ingrese el apellido
        </small>
      </div>

      <div class="col-md-12">
        <label for="correo" class="form-label mb-0">Correo</label>
        <input type="email" class="form-control" id="correo" placeholder="name@example.com" formControlName="correo"
          [class.is-invalid]="correoNoValido">
        <small *ngIf="correoNoValido" class="text-danger">
          Ingrese el correo
        </small>
      </div>

      <div class="col-md-12">
        <label for="rol" class="form-label mb-0">Rol</label>
        <select id="selectorRol" formControlName="rolId" class="form-select">
          <option *ngFor="let data of modeloRoles" value="{{data.id}}">{{data.nombre}}</option>
        </select>
        <small *ngIf="correoNoValido" class="text-danger">
          Seleccione el Rol
        </small>
      </div>

    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-lg mb-3" type="submit">Guardar</button>
    <button class="btn btn-danger btn-lg mb-3 mx-2" (click)="bsModalRef.hide()">Cancelar</button>
  </div>

</form>
