<footer id="final">
  <div class="container py-3">
    <div class="d-flex flex-column flex-md-row align-items-center ">


      <a href="/"
        class="col-md-2 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="assets/img/logo.png">
      </a>
      <p class="text-center text-muted" style=" color: #ffffff !important;">&copy; 2022 Mascota Feliz</p>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto pb-3 mb-3">
        <a class="btn btn-outline-light" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        <a class="btn btn-outline-light" routerLink="/empresa" routerLinkActive="active">Empresa</a>
        <a class="btn btn-outline-light" routerLink="/productos/viewProductos" routerLinkActive="active">Productos</a>
        <a class="btn btn-outline-light" (click)="onCargarRegistrar()">Registrate</a>
        <a class="btn btn-outline-light" (click)="onCargarLogin()">Login</a>
      </nav>
    </div>
  </div>
</footer>
