<div id="consultar" class="container py-3 mt-3">
  <div class="p-3 pb-md-4 mx-auto border-bottom">
    <h3 class="fw-bolder mb-0  text-center">Consultar Usuarios</h3>
    <p class="fs-6 lead  text-center">En esta sección podrás consultar de los Usuarios</p>

    <form class="row gy-2 gx-3 align-items-end clss-form" autocomplete="off">
      <div class="col">
        <label for="mascota" class="form-label mb-0">Nombre</label>
        <input type="text" class="form-control" id="mascota" placeholder="Nombre de la Mascota">
      </div>

      <div class="col">
        <label for="propietario" class="form-label mb-0">Identificacion</label>
        <input type="text" class="form-control" id="propietario" placeholder="Nombre del propietario">
      </div>

      <div class="col">
        <label for="veterinario" class="form-label mb-0">Correo</label>
        <input type="text" class="form-control" id="veterinario" placeholder="Nombre del veterinario">
      </div>
      <div class="col">
        <label for="veterinario" class="form-label mb-0">Rol</label>
        <input type="text" class="form-control" id="veterinario" placeholder="Nombre del veterinario">
      </div>
      <div class="col">
        <button class="btn btn-primary py-2" type="submit" data-toggle="tooltip" data-placement="top" title="Consultar">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="btn btn-primary py-2 mx-2" style="float: right;" (click)="onCargar()" data-toggle="tooltip"
          data-placement="top" title="Nuevo">
          <i class="fa-sharp fa-solid fa-plus"></i>
        </button>
      </div>
    </form>
  </div>
  <main>
    <div class="table-responsive mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Correo</th>
            <th scope="col">Rol</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of modeloData">
            <td>{{data.nombres}} {{data.apellidos}}</td>
            <td>{{data.documento}}</td>
            <td>{{data.correo}}</td>
            <td>{{data.rol!.nombre}}</td>
            <td>
              <a class="btn btn-primary mx-2" data-toggle="tooltip" data-placement="top" title="Editar"
                (click)="onGestionar(data.id)">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"
                (click)="onEliminar(data.id!)">
                <i class="fa-solid fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

</div>
