<header id="inicio">
  <div class="container py-3">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="assets/img/logo.png">
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <ng-container *ngFor="let data of modeloData; last as islast">
          <a class="btn btn-outline-light" routerLink="{{data.url}}" routerLinkActive="active">{{data.nombre}}</a>
          <a class="btn btn-outline-light" *ngIf="islast" (click)="cerrarSession()">Salir</a>
        </ng-container>
      </nav>
    </div>
  </div>
</header>

<!--

        <a class="btn btn-outline-light" routerLink="/configuracion/dashboard" routerLinkActive="active">Dasboard</a>
        <a class="btn btn-outline-light" routerLink="/afiliaciones/afiliaciones" routerLinkActive="active">Afiliaciones</a>
        <a class="btn btn-outline-light" routerLink="/administracion/roles" routerLinkActive="active">Roles</a>
        <a class="btn btn-outline-light" routerLink="/administracion/usuarios" routerLinkActive="active">Usuarios</a>
        <a class="btn btn-outline-light" routerLink="/administracion/planes" routerLinkActive="active">Planes</a>
        <a class="btn btn-outline-light" routerLink="/administracion/sucursales"
          routerLinkActive="active">Sucursales</a>
        <a class="btn btn-outline-light" routerLink="/configuracion/prospectos" routerLinkActive="active">Prospectos</a>
        <a class="btn btn-outline-light" routerLink="/configuracion/perfil" routerLinkActive="active">Perfil</a>
        <a class="btn btn-outline-light" routerLink="/configuracion/menu" routerLinkActive="active">Menu</a>
-->
