<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
  <a class="btn btn-outline-light" routerLink="/configuracion/dashboard" routerLinkActive="active">Dasboard</a>
  <a class="btn btn-outline-light" routerLink="/mascotas/listar" routerLinkActive="active">Mascotas</a>
  <a class="btn btn-outline-light" routerLink="/administracion/roles" routerLinkActive="active">Roles</a>
  <a class="btn btn-outline-light" routerLink="/administracion/usuarios" routerLinkActive="active">Usuarios</a>
  <a class="btn btn-outline-light" routerLink="/administracion/planes" routerLinkActive="active">Planes</a>
  <a class="btn btn-outline-light" routerLink="/administracion/sucursales" routerLinkActive="active">Sucursales</a>
  <a class="btn btn-outline-light" routerLink="/configuracion/prospectos" routerLinkActive="active">Prospectos</a>
  <a class="btn btn-outline-light" routerLink="/configuracion/perfil" routerLinkActive="active">Perfil</a>
  <a class="btn btn-outline-light" (click)="cerrarSession()">Salir</a>
</nav>
